<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Why we're qualified to help you.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">A qualified lawyer with a passion for learning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Legal United has worked with start ups, small law firms, independant professionals and retail on matters of copyright, contract law, internet law and trademark law. From researching the legal parameters to creating and fine-tuning creative concepts, Legal United focusses on the individual matter.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jantine has started Legal United in March 2015 and is known for her personal and open approach, conducting the bigger picture into the smaller issue. She enjoys working in an International environment and feels at home in groups yet likes to work independantly as well. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">In the heart of Amsterdam</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You'll find legal united in the centre of Amsterdam, The Netherlands. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
