<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What do you get?</h2>
                    <h3 class="section-subheading text-muted">legal advice tailored your business needs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What</h4>
                    <p class="text-muted">Legal United provides legal services and consultancy in intellectual property law and internet law. Especially when it comes to research, technological and legal development and International dynamics, Legal United combines these multiple factors in order to give a clear understanding of the situation at hand.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Why</h4>
                    <p class="text-muted">An intrinsic approach in (International) intellectual- and internet law is what drives Legal United. Looking at the bigger picture while understanding the issues at hand, matters are innately mannered creating a thorough yet practical and, when needed, strategical advice.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">When</h4>
                    <p class="text-muted">Are you a small business or start up looking for practical or legal advice? Is your practice or law firm in need of (temporarily) extra help? Legal United provides hands on legal work when you are looking for flexible legal work,  whether it's about research, advice, practical decisions or thorough feedback.</p>
                </div>
            </div>
        </div>
    </section>
